In [5]:
import pandas as pd

df = pd.DataFrame( {'a':[10, 20, 30], 'b':[2, 4, 6]})
df

    a  b
0  10  2
1  20  4
2  30  6

In [1]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(4))
print(my_fun2(4, 2))

16
16

In [19]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
re1 = df['a'].apply(my_fun1)
print(re1)

re2 = df['a'].apply(my_fun2, n=3)
print(re2)

df.apply(my_fun1)

0    100
1    400
2    900
Name: a, dtype: int64
0     1000
1     8000
2    27000
Name: a, dtype: int64

     a   b
0  100   4
1  400  16
2  900  36

In [25]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum = 0
    for i in col:
        sum += i
    return sum

# re3 = df.apply(my_fun3)    # axis=0 (행방향 -> 열단위)
re3 = df.apply(lambda x: my_fun3(x))
print(re3)

re4 = df.apply(my_fun3, axis=1)    # axis=1 (열방향 -> 행단위)
print(re4)

a    60
b    12
dtype: int64
0    12
1    24
2    36
dtype: int64

In [35]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if(score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

re5 = df[a'].apply(func)
print(re5)

0    C
1    B
2    A
Name: a, dtype: object

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [6]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col='Name')