In [11]:
import pandas as pd

col_names = ['category', 'company', 'headline', 'contents']

df = pd.read_csv('data/Article_생활문화_201701_201804.csv', usecols=[1, 2, 3, 4], names=col_names)
df.head()

,category,company,headline,contents
0,생활문화,머니투데이,피에스타 차오루 과감한 시스루 드레스…볼륨감 아찔,머니투데이 스타일M 김자아 기자 사진 김휘선기자 그룹 피에스타의 멤버 차오루의 과감...
1,생활문화,노컷뉴스,안태운 시집 감은 눈이 내 얼굴을 …김수영 문학상,CBS노컷뉴스 김영태 기자 제35회 김수영 문학상 수상 시집 감은 눈이 내 얼굴을 ...
2,생활문화,노컷뉴스,정세훈 노동시집 몸의 중심,CBS노컷뉴스 김영태 기자 정세훈의 여덟 번째 시집 몸의 중심 은 뚜렷한 노동시집이...
3,생활문화,노컷뉴스,황명걸 저항과 희망의 시심 저희를 사랑하기에,CBS노컷뉴스 김영태 기자 황명걸 시선집 저희를 사랑하기에 내가 . 사회참여와 현실...
4,생활문화,KBS,내일 미세먼지 농도 ‘나쁨’…한낮 비교적 포근,새해 첫날 잘 보내셨나요 오늘 추위는 누그러졌지만 다시 미세먼지가 고개를 들기 시작...

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8635 entries, 0 to 8634
Data columns (total 4 columns):
category    8635 non-null object
company     8635 non-null object
headline    8635 non-null object
contents    8635 non-null object
dtypes: object(4)
memory usage: 269.9+ KB

In [13]:
df.shape

(8635, 4)

In [15]:
df2 = pd.read_csv('data/Article_IT과학_201701_201804.csv', usecols=[1, 2, 3, 4], names=col_names)
df2.head()

,category,company,headline,contents
0,IT과학,YTN,2017년에 펼쳐지는 특별한 우주현상 2가지,앵커 새해 지구촌에는 특이한 우주 현상이 2차례 나타납니다. 4월에는 맨눈으로 볼 ...
1,IT과학,디지털데일리,DD 주간브리핑 사상 최대 규모로 열리는 CES 2017 에 관심 고조,2017년의 첫 주가 시작됐다. 새해 벽두 건강한 긴장감이 넘친다. 새해 첫 주부터...
2,IT과학,SBS,최첨단 미래TV 시대 열린다…어떤 서비스 있을까,앵커 올해는 UHD 차세대 초고화질 방송 시대가 열리는 첫해입니다. 시청자들이 어떤...
3,IT과학,세계일보,심층기획 2020년 우주기술 개발 자립국 대열 합류,세계 최초 인공위성 스푸트니크 발사 60주년 한국 우주개발 역사와 현주소 우주개발 ...
4,IT과학,세계일보,심층기획 지구 밖으로 쏘아 올린 인간의 꿈… 우주개발 무한경쟁,세계 최초 인공위성 스푸트니크 발사 60주년 우주 알리는 신호탄 1957년 10월4...

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8202 entries, 0 to 8201
Data columns (total 4 columns):
category    8202 non-null object
company     8202 non-null object
headline    8202 non-null object
contents    8202 non-null object
dtypes: object(4)
memory usage: 256.4+ KB

In [17]:
df2.shape

(8202, 4)